/* FOOTER */

footer {
  text-align: center;
  color: #FFF;
  background-color:#505050;
  padding: 1rem 5%;
  box-shadow: 0 5px 10px inset rgba(0,0,0,.5);
}

.space-between {
  display: flex;
  justify-content: space-between;
}

p.copyright {font-size: 0.7em; margin-bottom: 0.3em; text-align: center;}

ul.footer-links {list-style-type: none; margin: 1rem 0;}
  ul.footer-links li {font-size: 0.8em; margin-bottom: 0.3em; display: inline;}
  ul.footer-links a {color: #FFF;}
  ul.footer-links a:hover {text-decoration: underline;}
