<footer class="space-between">

  <p class="copyright logo-footer">
    <img src="assets/img/Worldline-logo.png" width="50" alt="Logo Worldline"> &copy; 2020 &bull; Tous droits réservés
  </p>

  <ul class="footer-links">
    <li><a href="#">Plan du site</a></li> •
    <li><a class="cursor-pointer">Contact</a></li> •
    <li><a class="cursor-pointer">Horaires d'ouverture du service</a></li> •
    <li><a href="#">Mentions légales</a></li> •
    <li><a href="#">Accessibilité</a></li>
  </ul>

  <p class="copyright version">Version: 1</p>
</footer>
